@use "../global" as *;

.marquee-infinite {
	width: rem(2886);

	@media (min-width: $mobile) {
		width: rem(4459);
	}

	&__wrap {
		display: flex;
		gap: rem(10);
		width: 200%;
		animation: marquee-infinite 50s linear infinite;

		&:hover {
			animation-play-state: paused;
		}
	}

	&__items {
		gap: rem(10);
		display: flex;
		width: 100%;
	}

	&__item {
		@include adaptive-value("border-radius", 20, 12, 0, 768, 375);
		background-color: $bg-color-grey;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 rem(212);
		width: rem(212);
		height: rem(90);
		padding: rem(19) rem(27);

		img {
			max-width: 100%;
			max-height: 100%;
		}

		@media (min-width: $mobile) {
			padding: rem(29);
			flex: 0 0 rem(333);
			width: rem(333);
			height: rem(140);
		}
	}
}

@keyframes marquee-infinite {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}


.single-service-clients {

	.marquee-infinite {
		width: auto;

		&__wrap {
			animation: none;
			width: auto;
		}


		&__item {
			width: rem(200);
			height: rem(100);
			flex: 0 0 auto;
		}
	}


}
