@use '../global' as *;

.industries {


	&__about {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: rem(124);
		margin-bottom: rem(80);
	}

	&__title {
		text-align: left;
		max-width: rem(560);
	}

	&__sub-title {
		text-align: left;
		max-width: rem(656);
	}

	.tabs {
		display: flex;
		flex-direction: column;
		gap: rem(30);

		&__navigation {
			display: flex;
			gap: rem(10);
			overflow: auto;
			padding-bottom: 0.7rem;

			::webkit-scrollbar {
				width: 12px;
				height: 12px;
			}

			._tab-active {
				background-color: $bg-accent;
			}
		}

		&__navigation::-webkit-scrollbar {
			height: rem(5);
		}

		//Scroll bar styles.
		&__navigation::-webkit-scrollbar-track {
			background: transparent;
		}

		&__navigation::-webkit-scrollbar-thumb {
			background-color: #888;
			border-radius: 10px;
		}

		&__navigation::-webkit-scrollbar-thumb:hover {
			background: #555;
			cursor: pointer;
		}


		&__title {
			background-color: $bg-color-grey;
			padding: rem(12) rem(32);
			border-radius: 12px;
			font-size: rem(16);
			color: $text-color-light;
			white-space: nowrap;
			min-height: rem(50);

			&:hover {
				background-color: $bg-accent;
				cursor: pointer;
			}
		}

		&__content {
			border-radius: 20px;
			background-color: $bg-color-grey;
		}
	}

	.tab {
		&__title {
			padding: rem(30);
			position: relative;
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				left: -50%;
				width: 200%;
				height: 1px;
				background-color: $bg-color-grey300;
				bottom: 0;
			}
		}

		&__content {
			display: grid;
			grid-template-columns: 46% 1fr;
			align-items: center;
			justify-content: space-around;
			gap: rem(40);
			padding: rem(10) rem(10) rem(10) rem(40);
		}

		&__about {
			font-weight: 600;
			margin-bottom: rem(20);
			@include adaptive-value("font-size", 24, 18, 0, 1440, 375);
		}

		&__sub-title {
			margin-bottom: rem(30);
		}


		&__list {
			display: flex;
			flex-direction: column;
			gap: rem(10);
			margin-bottom: rem(30);

			li {
				margin-left: rem(30);
				position: relative;
				line-height: 25.6px;
				font-size: 1rem;

				&::before {
					content: '';
					display: inline-block;
					position: absolute;
					width: 20px;
					height: 21px;
					background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMC41IiByPSIxMCIgZmlsbD0iIzQ3MzNGRiIvPgo8cGF0aCBkPSJNNi43MzM0IDEwLjUwMDFMOS41MzM0IDEyLjgzMzRMMTMuMjY2NyA4LjE2Njc1IiBzdHJva2U9IiNFM0UzRTMiIHN0cm9rZS13aWR0aD0iMC45MzMzMzMiLz4KPC9zdmc+Cg==');
					background-size: contain;
					vertical-align: middle;
					left: -30px;
					top: 3px;
				}

				span {
					color: $text-color-light;
					font-weight: 500;
				}
			}
		}

		&__text {
			max-width: rem(665);
		}

		&__image {
			height: rem(512);
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				object-fit: cover;
				border-radius: 20px;
				height: 100%;
				width: 100%;
			}
		}

		&__button {
			margin-top: rem(30);
			max-width: rem(165);


			a {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				white-space: nowrap;
				font-size: 1rem;
				height: rem(58);
			}
		}
	}

	//Mobile and tabs
	@media (max-width: $tablet) {
		&__about {
			display: flex;
			flex-direction: column;
			gap: rem(20);
			margin-bottom: rem(60);
		}

		&__title {
			max-width: 100%;
		}

		.tab {
			&__content {
				padding: rem(10) rem(10) rem(0) rem(10);
				display: flex;
				flex-direction: column-reverse;
				gap: 0;
			}

			&__image {
				width: 100%;
				height: rem(440);
			}

			&__text {
				margin-top: rem(30);
				width: 100%;
				max-width: rem(668);
			}

			&__button {
				margin-bottom: rem(30);
			}

			&__about {
				font-size: rem(24);
			}
		}
	}

	@media (max-width: $mobile-small) {
		&__about {
			display: flex;
			flex-direction: column;
			gap: rem(20);
			margin-bottom: rem(40);
			padding: rem(0) rem(10);
		}

		.tab {
			&__title {
				padding: rem(20);
			}


			&__image {
				height: rem(278);
			}

			&__text {
				padding: rem(20) rem(10) rem(10) rem(10);
				;
				margin-top: rem(0);
			}

			&__button {
				margin-bottom: rem(20);
				max-width: 100%;
			}

			&__about {
				font-size: rem(18);
			}
		}
	}
}

//Theme ligth styles.
.theme-light {
	.industries {
		
		&__title {
			color: $bg-color-grey;
		}

		.tabs {
			&__navigation {
				._tab-active {
					background-color: $bg-accent;
					color: $text-color-light;
				}
			}

			&__title {
				background-color: $text-color-light;
				color: $bg-color-grey;

				&:hover {
					background-color: $bg-accent;
					color: $text-color-light;
				}
			}

			&__content {
				background-color: $bg-color-white-grey;



				&-body {
					&-sub-title {
						&--secondary {
							span {
								color: $bg-color-grey;
								font-weight: 500;
							}
						}
					}
				}
			}
		}

		.tab {
			&__title {
				padding: rem(20);
				position: relative;
				overflow: hidden;

				&::after {
					content: '';
					position: absolute;
					left: -50%;
					width: 200%;
					height: 1px;
					background-color: $bg-color-lite-grey;
					bottom: 0;
				}
			}

			&__list {
				li {
					span {
						color: $bg-color-grey;
					}
				}
			}
		}
	}
}