@use '../global' as *;


.awards {



	&__items {
		&:first-child {
			margin-bottom: rem(10);
		}

		display: flex;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		background-color: $bg-color-grey;
		@include adaptive-value("height", 200, 120, 0, 1440, 767);

		@media (max-width: $mobile) {
			@include adaptive-value("height", 120, 120, 0, 767, 375);
		}

		img {
			@include adaptive-value("min-height", 70, 38, 0, 1440, 768);
			@include adaptive-value("max-width", 268, 144, 0, 1440, 768);
		}
	}

	@media (max-width: $tablet) {
		&__item {
			border-radius: 10.714px;
		}

	}

	@media (max-width: $mobile-small) {
		&__item {
			border-radius: 10px;
		}

		&__wrap {
			padding-left: rem(10);
		}

		.section-head {
			margin-bottom: rem(30);
		}
	}

}


.theme-dark {
	.awards {
		&__wrap {
			&--light {
				display: none;
			}
		}
	}
}

.theme-light {
	.awards {
		&__wrap {
			&--dark {
				display: none;
			}
		}

		&__item {
			background-color: $bg-color-white-grey;
		}
	}

}
