@use "../global" as *;

//This is modify case intro block, he called Service block.


.intro-with-form {
	.case-intro-section__overlay {
		background: linear-gradient(84.28deg, #000000 1.63%, rgba(0, 0, 0, 0.71) 68.33%, rgba(0, 0, 0, 0) 99.7%);
	}

	.case-intro {


		@media (min-width: $widescreen) {
			padding-bottom: rem(20);
			padding-top: rem(20);
			padding-right: rem(60);
		}


		&__head {
			@media (min-width: $widescreen) {
				padding: 0;
				top: rem(20);
			}
		}

		&__body {
			display: flex;
			flex-direction: column;

			@media (min-width: $mobile) {
				display: grid;
				grid-template-columns: 1fr minmax(auto, rem(640));
				@include adaptive-value("gap", 60, 25, 0, 1440, 375);
				max-width: 100%;
				align-items: center;
				justify-content: space-between;
			}
		}


		&__form {
			padding: rem(20);
			background-color: $bg-color-grey;
			border-radius: rem(20);
			position: relative;


			@media (min-width: $mobile) {
				padding: rem(40);
			}


			h3 {
				font-weight: 500;
				font-size: rem(32);
				margin-bottom: rem(20);
			}

			textarea {
				height: rem(72);
				display: flex;
				align-items: center;
			}

			input[type="submit"] {
				margin-top: rem(20);
				width: auto;
			}

			.consultation-form {
				width: 100%;

				&:after {
					content: none;
				}

				&--wp {
					border: none;
					padding: 0;
				}

				&__file-fake {
					@media (min-width: $mobile) {
						display: flex;
						gap: rem(8);
					}
				}
			}

		}

		&__awards {
			display: flex;
			justify-content: flex-start;
			margin: rem(30) 0;
			flex-wrap: wrap;
			gap: rem(18);

			@media (min-width: $mobile) {
				margin: rem(60) 0;
				flex-wrap: nowrap;
			}
		}

		&__award {
			max-width: rem(150);

			@media (min-width: $mobile) {
				max-width: rem(180);
			}
		}
	}
}

.theme-light {
	.intro-with-form {
		.case-intro {
			&__form {
				background-color: $bg-color-white-grey;
			}
		}
	}
}
