@use "../global" as *;


.our-values {
	&__about {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		margin-bottom: rem(40);

		@media (min-width: $mobile-small) {
			margin-bottom: rem(58);
		}

		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(2, 2fr);
			margin-bottom: rem(80);
		}
	}

	.values {

		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: 25% 1fr;
			gap: rem(10);
		}

	}

	.values-titles {
		display: flex;
		flex-direction: column;
		gap: rem(10);


		&__title {
			background-color: $bg-color-grey;
			border-radius: 20px;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: left;
			gap: rem(10);
			width: 100%;
			padding: 0 rem(20);
			position: relative;
			@include adaptive-value('height', 100, 90, 0, 1440, 375);

			&:before {
				content: "+";
				position: absolute;
				width: rem(40);
				height: rem(40);
				border: rem(2) solid $bg-color-grey-light;
				border-radius: 50%;
				transition: all 0.5s;
				color: $text-color-light;
				font-size: rem(28);
				@include adaptive-value("right", 30, 20, 0, 768, 375);
			}

			&._tab-active {
				&:before {
					content: '';
					background: $bg-accent;
					border: none;
				}

				&:after {
					content: "";
					position: absolute;
					@include adaptive-value("right", 43, 33, 0, 768, 375);
					width: rem(14);
					height: rem(2);
					background-color: $text-color-light;
				}


			}


			@media (min-width: $mobile) {
				width: auto;
				padding: 0 rem(30);
				&:before {
					content: none;
				}


				&._tab-active {

					&:before {
						content: none;
					}

					&:after {
						content: '';
						height: 80%;
						width: 5px;
						background: $bg-accent;
						border-radius: 50px 0 0 50px;
						position: absolute;
						left: -3px;
					}
				}
			}

			a {
				text-align: left;
				font-size: rem(18);
				font-weight: 400;
				color: $text-color-light;
				display: block;
				width: 80%;

			}

			//Icons.
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
			}
		}

		//Icons current theme.
		&__icon {
			&--item-light {
				display: none;
			}
		}


	}

	.values-content {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		@media (min-width: $mobile) {
			display: block;
		}

		&__block{
			border-radius: 20px;
			overflow: hidden;
		}

		&__wrapper {
			background-color: $bg-color-grey;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: auto;

			@media (min-width: $tablet) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: rem(40);
				min-height: rem(540);
				padding: rem(40);
			}
		}


		&__about {
			padding: rem(30) rem(20);
			@media (min-width: $mobile) {
				padding: rem(20);
			}

			@media (min-width: $tablet) {
				padding: 0;
			}
		}

		&__image {
			height: rem(209);
			overflow: hidden;
			padding: 0 rem(20) rem(20) rem(20);


			@media (min-width: $mobile-small) {
				padding: 0 rem(30) rem(30) rem(30);
			}

			@media (min-width: $mobile) {
				padding: 0 rem(10) rem(16) rem(10);
				max-height: rem(220);
			}

			@media (min-width: $tablet) {
				padding: 0;
				max-height: rem(460);
				height: auto;
			}


			img {
				border-radius: 15px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__title {
			margin-bottom: rem(15);
			display: none;
			font-size: rem(18);


			@media (min-width: $mobile) {
				font-size: rem(24);
				display: flex;
			}
		}

		&__sub-title {
			margin-bottom: rem(20);
		}

		&__list {
			ul {
				display: flex;
				flex-direction: column;
				gap: rem(10);

				li {
					color: $text-color-grey;
					font-size: rem(16);
					display: flex;
					align-items: center;
					gap: rem(10);

					&:before {
						content: '';
						display: block;
						width: 20px;
						height: 20px;
						background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><circle cx="10" cy="10" r="10" fill="%234733FF"/><path d="M6.7334 10.0001L9.5334 12.3334L13.2667 7.66675" stroke="%23E3E3E3" stroke-width="0.933333"/></svg>');
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						flex-shrink: 0;
					}
				}
			}
		}


	}
}


.theme-light {
	.our-values {

		.values-titles {
			&__title {
				background: $bg-color-lite-lite;

				a {
					color: $bg-color-grey;
				}

			}

			&__icon {
				&--item-dark {
					display: none;
				}

				&--item-light {
					display: flex;
				}
			}
		}

		.values-content {
			&__block {
				background: $bg-color-lite-lite;
			}
		}
	}
}
