@use "../global" as *;


.our-mission {

	&__wrapper {
		background-color: $bg-color-grey;
		border-radius: 20px;
		position: relative;
		overflow: hidden;

	}

	&__content {
		display: flex;
		flex-direction: column;

		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(2, 2fr);
			gap: rem(60);
		}
	}

	.about {
		padding: rem(30) rem(30) 0 rem(30);
		@media (min-width: $mobile) {
			padding: rem(110) 0 rem(100) rem(40);
		}

		&__title {
			margin-bottom: rem(20);
			font-weight: 500;
		}

		&__description {
			margin-bottom: rem(33);
			max-width: rem(620);
		}

		&__button {
			max-width: rem(219);
			white-space: nowrap;
		}
	}

	.hero {
		height: 100%;
		position: relative;

		&__image {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: rem(40) rem(15) 0 rem(15);


			@media (min-width: $mobile) {
				position: absolute;
				bottom: 0;
				z-index: 2;
			}

			@media (min-width: $widescreen-lg) {
				width: rem(600);
			}


			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&:before {
			content: '';
			width: rem(194);
			height: rem(34);
			background: linear-gradient(270deg, #2A7961 0%, rgba(223, 239, 215, 0) 100%);
			position: absolute;
			right: 0;
			bottom: 100px;
			z-index: 1;
			opacity: 14%;
		}

		&:after {
			content: '';
			width: rem(194);
			height: rem(34);
			background: linear-gradient(270deg, #2A7961 0%, rgba(223, 239, 215, 0) 100%);
			position: absolute;
			right: 0;
			bottom: 34px;
			z-index: 1;
			opacity: 14%;
		}
	}

	.statistic {

		&__wrapper {
			background-color: $bg-color-grey-light;
			display: flex;
			padding: rem(20) 0;
			flex-direction: column;
			border-radius: 0 0 20px 20px;
			align-items: center;
			gap: rem(20);

			@media (min-width: $mobile-small) {
				flex-direction: inherit;
				justify-content: space-around;
				padding: rem(40) rem(46);
			}
		}

		&__int {
			font-weight: 500;
			color: #ffffff;
			position: relative;
			max-width: max-content;
			text-align: center;
			@include adaptive-value('font-size', 80, 40, 0, 1440, 375);
		}

		&__text {
			margin-top: 15px;
			text-align: center;
			color: $text-color-grey;
			font-weight: 400;
			white-space: nowrap;
		}

		&__element {
			display: inline-flex;
			position: absolute;
			width: 20px;
			height: 20px;
			right: -30px;
			top: -5px;

			@media (min-width: $mobile-small) {
				width: 25px;
				height: 25px;
			}
		}
	}
}

.theme-light {
	.our-mission {
		&__wrapper {
			background: $bg-color-white-grey;
		}

		.statistic {
			&__wrapper {
				background: $bg-color-lite;
			}

			&__int {
				color: $bg-color-grey;
			}
		}
	}
}
