@use "../global" as *;

.reviews-section {
	.section-head {
		padding: rem(0) rem(10);

		@media (min-width: $mobile) {
			padding: 0;
		}
	}
}

.review-slider {
	position: relative;

	&__buttons {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: rem(263);
		height: rem(50);
	}

	.swiper-slide {
		opacity: 1;
		transition: all 0.3s;

		@media (min-width: $desktop) {
			opacity: 0.4;
		}

		&.swiper-slide-active {
			opacity: 1;
		}
	}

	.swiper-wrapper {
		margin-bottom: rem(30);
	}

	.swiper-pagination-bullet {
		font-size: rem(16);
	}
}

.review-slide {
	width: 100%;
	height: 100%;
	cursor: pointer;

	@media (min-width: $mobile) {
		height: auto;
	}

	* {
		text-align: start;
	}



	&__wrap {
		display: flex;
		padding: rem(16);
		background-color: $bg-color-grey;
		border-radius: rem(20);
		overflow: hidden;
		min-height: rem(438);
		height: 100%;
		@include adaptive-value("min-height", 438, 400, 0, 1440, 768);

		@media (min-width: $mobile) {
			padding: rem(30);
			height: auto;
		}
	}

	&__avatar {
		width: rem(60);
		height: rem(60);
		border-radius: rem(15);
		overflow: hidden;
		margin-right: rem(10);

		@media (min-width: $widescreen-lg) {
			width: rem(354);
			height: rem(378);
			margin-right: rem(30);
			flex: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__head {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(20);

		@media (min-width: $mobile) {
			flex-direction: row;
			align-items: center;
		}
		@media (max-width: $desktop) {
			gap: 10px;
		}
	}

	&__img {
		display: flex;
		margin-bottom: 10px;
		align-items: center;
		justify-content: center;
		@media (max-width: $desktop) {
			margin-bottom: 0;
		}
		@media (min-width: $mobile) {
			margin-bottom: 0;
		}
	}

	&__icon {
		width: 100%;
		height: 100%;
		border-radius: 9px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (min-width: $mobile) {
			margin-right: 10px;
		}

		@media (min-width: $desktop) {
			margin-right: 20px;
		}
	}

	&__autor-name {
		font-weight: 500;
		line-height: 149%;
		font-size: rem(18);
		color: $text-color-light;
		margin-bottom: rem(6);

		@media (min-width: $mobile) {
			line-height: 140%;
			font-size: rem(24);
		}
	}

	&__autor-post {
		line-height: 140%;
		font-size: rem(14);
		color: $text-color-grey;

		a {
			color: $text-color-grey;
			text-decoration: underline;
			transition: all 0.3s;

			&:hover {
				color: $link-color;
			}
		}
	}

	&__body {
		padding: rem(20) 0;
		border-top: 1px solid #353535;
		border-bottom: 1px solid #353535;
	}

	&__text {
		font-size: rem(14);
		line-height: 1.78;
		color: $text-color-grey;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;

		a {
			color: $bg-accent;

			&:hover {
				color: $text-color-grey;
			}
		}

		@media (min-width: $mobile) {
			font-size: rem(16);
			line-height: 160%;
		}
	}

	&__link {
		color: $text-color-light;
		font-weight: 400;
		font-size: rem(14);
		text-decoration: underline;
		font-family: $fontFamily;
		margin-top: rem(10);
		transition: all 0.3s;
		line-height: 160%;

		@media (min-width: $mobile) {
			font-size: rem(16);
		}

		&:hover {
			color: $bg-accent;
		}
	}

	&__footer {
		margin-top: rem(20);
	}

	&__technology {
		font-weight: 500;
		font-size: rem(14);
		color: $text-color-light;
		margin-bottom: rem(10);

		@media (min-width: $mobile) {
			font-size: rem(16);
			line-height: 165%;
		}
	}

	&__technology-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: -5px;
	}

	&__technology-items {
		display: flex;
		gap: rem(5);
		flex-wrap: wrap;

		@media (min-width: $mobile) {
			gap: rem(10);
		}
	}

	&__technology-col {
		padding: 5px;
	}

	&__technology-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(60);
		height: rem(60);
		background-color: $bg-color-grey-light;
		border-radius: 9px;
	}

	&__technology-img {
		width: rem(32);
		height: rem(32);
		display: flex;
		align-items: center;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__icon {
		width: rem(60);
		height: rem(60);
	}

	&.active {
		opacity: 1;
	}
}

.review-popup-wrap {
	@include popup-state();
}

.review-popup {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: rem(960);
	padding: 0;
	background: transparent;
	border-radius: 0;

	&__wrap {
		background-color: $bg-color-grey;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		padding: rem(20);
		border-radius: rem(20);

		@media (min-width: $mobile) {
			padding: rem(30);
		}
	}

	&__head {
		display: flex;
		align-items: self-start;

		margin-bottom: rem(10);

		@media (min-width: $widescreen-lg) {
			gap: rem(20);
		}
		@media (max-width: $desktop) {
			flex-direction: column;
			gap: rem(10);
		}

		&-wrapper {
			display: flex;
			gap: rem(10);
		}

		@media (max-width: $desktop) {
			&-wrapper {
				display: flex;
				gap: rem(10);
			}
		}

	}

	&__body {
		padding: rem(20) 0;
		border-top: 1px solid #353535;
		border-bottom: 1px solid #353535;
	}

	&__autor-text {
		font-size: rem(14);
		line-height: 1.78;
		color: $text-color-grey;
		max-height: rem(156);
		overflow: hidden;
		overflow-y: auto;

		@media (min-width: $mobile) {
			line-height: 160%;
			font-size: rem(16);
		}

		a {
			color: $bg-accent;

			&:hover {
				color: $text-color-grey;
			}
		}
	}

	&__footer {
		margin-top: rem(20);
	}

	&__technology {
		font-weight: 500;
		font-size: rem(14);
		color: $text-color-light;
		margin-bottom: rem(10);

		@media (min-width: $mobile) {
			font-size: rem(16);
			line-height: 165%;
		}
	}

	&__technology-row {
		gap: 0.6rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: -5px;
	}

	&__technology-col {
		padding: 5px;
	}

	&__technology-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(60);
		height: rem(60);
		background-color: $bg-color-grey-light;
		border-radius: 9px;
	}

	&__technology-img {
		width: rem(32);
		height: rem(32);
		display: flex;
		align-items: center;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__avatar,
	&__icon {
		width: rem(60);
		height: rem(60);
		border-radius: rem(15);
		overflow: hidden;
		flex: none;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__icon {
		border-radius: rem(9);

	}

	h2,
	&__autor-name {
		font-weight: 500;
		font-size: rem(18);
		color: $text-color-light;
		margin-bottom: rem(5);
		line-height: 1;
		@media (min-width: $mobile) {
			font-size: rem(24);
		}
		@media (max-width: $desktop) {
			margin-bottom: rem(6);
		}
	}

	&__autor-post {
		font-size: rem(14);
		color: $text-color-grey;

		a {
			color: $text-color-grey;
			text-decoration: underline;
			transition: all 0.3s;

			&:hover {
				color: $link-color;
			}
		}
	}

	&__close {
		position: absolute;
		right: rem(20);
		top: rem(20);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(30);
		height: rem(30);
		background-color: #e3e3e3;
		border-radius: 50%;

		@media (min-width: $mobile) {
			width: rem(50);
			height: rem(50);
			right: rem(30);
			top: rem(30);
		}

		&:before,
		&:after {
			position: absolute;
			content: " ";
			height: rem(20);
			width: 2px;
			background-color: #272727;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}

		&:hover {
			background-color: $bg-accent;
		}
	}
}

//Services page,pop up page,Popup Reviews Block styles.
.popup-reviews {
	.reviews-section__container {
		padding: 0;
	}

	.section-head {
		margin-bottom: 0;
		grid-template-columns: auto;

		&__title {
			margin-bottom: rem(30);
			text-align: left;
			font-size: 40px;
			max-width: 100%;
		}

		&__text {
			margin-bottom: rem(60);
			justify-self: flex-start;
		}
	}

	.js-review-slider {
		.swiper-wrapper {
			height: auto;
		}
	}

	.widescreen-lg {
		display: none !important;
	}

	.widescreen-lg-none {
		display: block !important;
	}

	.review-slide {
		&__avatar {
			width: 3.75rem;
			height: 3.75rem;
			border-radius: 0.9375rem;
			overflow: hidden;
			margin-right: 0.625rem;
		}
	}
}


//Review Block on single Case page.
.case-review {
	.reviews__wrap {
		padding: rem(30);
		border-radius: 20px;
		background-color: $bg-color-grey;
	}

	.review-slide__autor-name {
		font-size: rem(24);
	}

	.review-slide__body {
		border-bottom: 0;
	}
}

.theme-light {
	.reviews__wrap {
		background-color: $bg-color-white-grey;
	}
}
