@use "../global" as *;

.technologies-section {
   &__title {
      @media (min-width: $widescreen) {
         max-width: rem(535);
      }
   }
}

.technologies {
   &__navigation {
      display: flex;
      text-wrap: nowrap;
      white-space: nowrap;
      gap: rem(10);
      margin: 0 rem(-10) rem(30);
      padding: 0 rem(10);
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
         opacity: 0;
         display: none;
      }

      &::-webkit-scrollbar-track {
         background: transparent;
      }

      &::-webkit-scrollbar-thumb {
         background: transparent;
      }
   }

   &__title {
      font-family: $main-font-family;
      font-size: rem(16);
      color: $text-color-light;
      padding: rem(16) rem(32);
      background-color: $bg-color-grey;
      border-radius: rem(12);
      transition: all 0.3s ease;

      &:hover {
         background-color: $bg-accent;
         color: $text-color-light;
      }
   }

   ._tab-active {
      background-color: $bg-accent;
      color: $text-color-light;
   }
}

.technologie-cards {
   &__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: rem(-5);

      @media (min-width: $mobile) {
         grid-template-columns: repeat(4, 1fr);
      }

      @media (min-width: $desktop) {
         grid-template-columns: repeat(5, 1fr);
      }

      @media (min-width: $widescreen) {
         grid-template-columns: repeat(6, 1fr);
      }

      @media (min-width: $widescreen-lg) {
         grid-template-columns: repeat(7, 1fr);
      }

      @media (min-width: $pc) {
         grid-template-columns: repeat(8, 1fr);
      }
   }

   &__col {
      padding: rem(5);

      &:last-child {
         .technologie-card {
            &__wrap {
               background-color: $text-color-light;
            }

            &__text {
               & > * {
                  color: $bg-color-grey;
               }
            }

            &__img {
               max-width: rem(25);
               margin-bottom: rem(10);

               @media (min-width: $desktop) {
                  margin-top: rem(20);
               }

               @media (min-width: $widescreen) {
                  margin-top: rem(0);
               }

               img {
                  height: rem(25);
               }
            }
         }
      }

      &:hover {
         &:last-child {
            .technologie-card {
               &__wrap {
                  &:hover {
                     background-color: $bg-color-grey;
                     & > * {
                        & > * {
                           color: $text-color-light;
                        }
                     }
                  }
               }
            }
         }
      }

      &:hover {
         .technologie-card {
            &__wrap {
               &:hover {
                  background-color: $bg-color-grey-light;
               }
            }
            &__img {
               img {
                  transform: scale(1.2);
               }
            }
         }
      }

      &--popup {
         @include adaptive-value("padding", 5.5, 5, 0, 869, 375);

         &:hover {
            .technologie-card {
               &__wrap {
                  &:hover {
                     background-color: $bg-color;
                  }
               }
            }
         }
      }
   }
}

.technologie-card {
   width: 100%;
   height: 100%;

   &__wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptive-value("padding-top", 30, 20, 0, 768, 375);
      @include adaptive-value("padding-bottom", 30, 20, 0, 768, 375);
      @include adaptive-value("height", 166, 115, 0, 1440, 375);
      background-color: $bg-color-grey;
      @include adaptive-value("border-radius", 20, 9, 0, 768, 375);
      transition: all 0.3s;

      @media (min-width: $mobile-small) {
         padding-left: rem(15);
         padding-right: rem(15);
      }

      @media (min-width: $widescreen) {
         padding-left: rem(30);
         padding-right: rem(30);
      }

   }

   &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50) !important;
      @include adaptive-value("margin-bottom", 30, 15, 0, 768, 375);

      img {
         @include adaptive-value("height", 50, 40, 0, 768, 375);
         width: 100%;
      }

      &--big {
         @include adaptive-value("max-width", 126, 76, 0, 768, 375);
      }
   }

   &__text {
      margin-top: auto;
      text-align: center;

      & > * {
         color: $text-color-light;
         line-height: 160%;
         font-size: rem(14);

         @media (min-width: $mobile) {
            font-size: rem(16);
         }
      }
   }
}
