@use "../global" as *;


.vacancies {
	&__about {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		margin-bottom: rem(40);

		@media (min-width: $mobile-small) {
			margin-bottom: rem(58);
		}

		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: repeat(2, 2fr);
			margin-bottom: rem(80);
		}
	}

	&__items {
		margin-top: rem(30);
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}

	.vacancies-empty {

		&__wrapper {
			background: $bg-color-grey;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: rem(60) 0;
			border-radius: 20px;
			overflow: hidden;
			gap: rem(25);
		}

		&__title, &__text {
			max-width: rem(629);
		}
	}

	.vacancies-technologies {
		display: flex;
		gap: rem(10);
		justify-content: start;
		flex-wrap: wrap;
		@media (min-width: $mobile-small) {
			display: flex;
			flex-direction: row;
		}

		&__name {
			background: $bg-color-grey;
			padding: rem(12) rem(32);
			color: $text-color-light;
			border-radius: 12px;
			transition: background-color 0.3s ease;
			width: fit-content;
			@media (min-width: $mobile-small) {
				width: auto;
			}


			&:hover {
				cursor: pointer;
				background-color: $bg-accent;
				transition: background-color 0.3s ease;
			}

			&.active {
				background-color: $bg-accent;
			}
		}
	}

	.vacancy {
		display: flex;
		flex-direction: column;
		gap: rem(15);
		background-color: $bg-color-grey;
		border-radius: 20px;
		padding: rem(20);
		position: relative;
		@media (min-width: $mobile) {
			flex-direction: row;
			align-items: center;
			position: static;
			justify-content: space-between;
			&:hover {
				background: $bg-color-grey-light;
				cursor: pointer;

				.vacancy__btn {
					background-color: $bg-accent;
					border: 1px solid $bg-accent;


					&:before {
						transform: rotate(45deg);
						transition: all 0.3s ease;
					}
				}


			}
		}

		&__technologies {
			display: flex;
			gap: rem(10);
			margin-right: rem(40);

			.technologies__item {
				background-color: $bg-accent-grey;
				color: $text-color-light;
				padding: rem(15) rem(14);
				border-radius: 9px;
				font-size: rem(14);
			}
		}

		&__details {
			display: flex;
			flex-direction: column;
			gap: rem(15);
			@media(min-width: $mobile) {
				display: block;
				width: 100%;
				padding: rem(30) 0;
			}
		}

		&__name {
			font-size: rem(18);
			@media (min-width: $mobile) {
				margin-bottom: rem(15);
				font-size: rem(24);

			}
		}

		&__btn {
			position: absolute;
			right: 20px;
			bottom: 20px;
			@media (min-width: $mobile) {
				position: static;
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			&:before {
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M9.02082 7.48528V8.48528H11.0208V7.48528H9.02082ZM10.0208 1.82842H11.0208V0.828422H10.0208V1.82842ZM4.36396 0.828422H3.36396V2.82842H4.36396V0.828422ZM11.0208 7.48528V1.82842H9.02082V7.48528H11.0208ZM10.0208 0.828422H4.36396V2.82842H10.0208V0.828422ZM9.31371 1.12132L0.12132 10.3137L1.53553 11.7279L10.7279 2.53553L9.31371 1.12132Z" fill="%23E3E3E3"/></svg>') no-repeat;
				background-size: contain;
				position: absolute;
				transition: all 0.3s ease;
				pointer-events: none;
			}

		}


	}
}


.theme-light {
	.vacancies {
		.vacancy {
			background-color: $bg-color-white-grey;
			@media (min-width: $mobile) {
				&:hover {
					background-color: $bg-color-lite-lite;

					.vacancy__btn {
						&:before {
							background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M9.02082 7.48528V8.48528H11.0208V7.48528H9.02082ZM10.0208 1.82842H11.0208V0.828422H10.0208V1.82842ZM4.36396 0.828422H3.36396V2.82842H4.36396V0.828422ZM11.0208 7.48528V1.82842H9.02082V7.48528H11.0208ZM10.0208 0.828422H4.36396V2.82842H10.0208V0.828422ZM9.31371 1.12132L0.12132 10.3137L1.53553 11.7279L10.7279 2.53553L9.31371 1.12132Z" fill="%23E3E3E3"/></svg>') no-repeat;
						}
					}
				}
			}

			&__btn {

				&:before {
					background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="none"><path d="M9.02082 6.9843L9.02082 7.9843L11.0208 7.9843V6.9843H9.02082ZM10.0208 1.32745H11.0208V0.327446L10.0208 0.327445L10.0208 1.32745ZM4.36396 0.327445L3.36396 0.327445L3.36396 2.32745L4.36396 2.32745L4.36396 0.327445ZM11.0208 6.9843V1.32745L9.02082 1.32745L9.02082 6.9843H11.0208ZM10.0208 0.327445L4.36396 0.327445L4.36396 2.32745L10.0208 2.32745L10.0208 0.327445ZM9.31371 0.620339L0.12132 9.81273L1.53553 11.2269L10.7279 2.03455L9.31371 0.620339Z" fill="%23272727"/></svg>') no-repeat;
				}

			}
		}

		.vacancies-technologies {
			&__name {
				background-color: $text-color-light;
				color: $bg-color-grey;

				&.active {
					background-color: $bg-accent;
					color: $text-color-light;
				}
			}
		}
	}
}
