@use "../../global" as *;


.author-page {


  .breadcrumbs {
    font-size: rem(14);
    @media (min-width: $mobile) {
      font-size: rem(16);
    }

    span {
      color: $text-color-grey;

      span {
        &:first-child {
          a {
            color: $bg-color-grey;
          }
        }
      }
    }


  }

  .case-intro__info {
    top: rem(20);

    @media (min-width: $mobile) {
      top: rem(30);
      left: rem(40);
    }

    @media (min-width: $tablet) {
      left: 0;
    }
  }

  .blog-intro {
    z-index: 2;
    min-height: auto;
    display: block;
    padding: rem(80) 0 rem(38) 0;
    @media (min-width: $mobile) {
      padding: rem(110) 0 rem(96) 0;
    }
  }

  .blog-intro-section {
    &__wrap {
      border-radius: rem(20);
    }

    &__container {
      position: relative;
    }


  }

  .case-intro {
    &__close {

      background-color: $bg-color-grey-light;

      &:before, &:after {
        background-color: $text-color-light;
      }


      @media (min-width: $mobile) {
        &:hover {
          background-color: $bg-accent;
        }
      }


    }


  }


  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: rem(20);
    overflow: hidden;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
  }

  &__title {
    margin-bottom: rem(20);
    font-size: rem(28);
    @media (min-width: $mobile) {
      font-size: rem(32);
    }
  }


  .author-content {
    max-width: 100%;
    width: 100%;
    gap: rem(20);
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    @media (min-width: $mobile) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: rem(30);
    }


    &__about {
      width: 100%;
    }

    &__avatar {
      border-radius: rem(20);
      overflow: hidden;
      width: rem(100);


      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &.avatar-desktop {
        display: none;
        @media (min-width: $mobile) {
          display: block;
        }
      }

      &.avatar-mobile {

        @media (min-width: $mobile) {
          display: none;
        }
      }

      @media (min-width: $mobile) {
        width: rem(220);
      }
    }


    &__about-info {
      display: flex;
      gap: rem(20);
      margin-bottom: rem(20);

      @media (min-width: $mobile) {
        margin-bottom: 0;
      }
    }


    &__about-name {
      margin-bottom: rem(6);

      h1 {
        font-size: rem(18);
        color: $bg-color-grey;
        font-weight: 500;
        @media (min-width: $mobile) {
          font-size: rem(24);
        }
      }
    }

    &__about-position {
      margin-bottom: rem(20);

      p {
        font-size: rem(14);
        color: $bg-accent;
      }
    }

    &__about-description {
      margin-bottom: rem(20);

      p {
        font-size: rem(16);
        color: $bg-color-grey100;
      }
    }


    &__socials-items {
      display: flex;
      gap: rem(10);
      justify-content: flex-start;
    }

    &__about-socials {


      p {
        color: $bg-color-grey;
        font-size: rem(14);
        font-weight: 500;
        margin-bottom: rem(10);
      }

      a {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: cover;
        border-radius: 100%;
      }


      .telegram {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><circle cx="15" cy="15" r="15" fill="%23272727"/><path d="M21.5326 8.74088C21.5326 8.74088 22.9895 8.17276 22.8676 9.55238C22.8275 10.1205 22.4634 12.1091 22.1799 14.2598L21.2086 20.631C21.2086 20.631 21.1276 21.5644 20.399 21.7268C19.6707 21.8888 18.578 21.1586 18.3755 20.9963C18.2135 20.8744 15.3402 19.0481 14.3285 18.1556C14.045 17.9119 13.721 17.4251 14.369 16.857L18.6185 12.7988C19.1041 12.3113 19.5897 11.175 17.5662 12.555L11.9 16.41C11.9 16.41 11.2524 16.8161 10.0385 16.4509L7.40749 15.639C7.40749 15.639 6.43624 15.0304 8.09561 14.4218C12.143 12.5145 17.1211 10.5668 21.5322 8.74051" fill="%23E3E3E3"/></svg>') no-repeat center;

      }

      .linkedin {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><circle cx="15" cy="15" r="15" fill="%23272727"/><path d="M9.5625 7.40625C9.13981 7.40625 8.73443 7.57416 8.43555 7.87305C8.13666 8.17193 7.96875 8.57731 7.96875 9C7.96875 9.42269 8.13666 9.82807 8.43555 10.127C8.73443 10.4258 9.13981 10.5938 9.5625 10.5938C9.98519 10.5938 10.3906 10.4258 10.6895 10.127C10.9883 9.82807 11.1562 9.42269 11.1562 9C11.1562 8.57731 10.9883 8.17193 10.6895 7.87305C10.3906 7.57416 9.98519 7.40625 9.5625 7.40625ZM8.0625 11.9062C8.03764 11.9062 8.01379 11.9161 7.99621 11.9337C7.97863 11.9513 7.96875 11.9751 7.96875 12V21.75C7.96875 21.8018 8.01075 21.8438 8.0625 21.8438H11.0625C11.0874 21.8438 11.1112 21.8339 11.1288 21.8163C11.1464 21.7987 11.1562 21.7749 11.1562 21.75V12C11.1562 11.9751 11.1464 11.9513 11.1288 11.9337C11.1112 11.9161 11.0874 11.9062 11.0625 11.9062H8.0625ZM12.9375 11.9062C12.9126 11.9062 12.8888 11.9161 12.8712 11.9337C12.8536 11.9513 12.8438 11.9751 12.8438 12V21.75C12.8438 21.8018 12.8857 21.8438 12.9375 21.8438H15.9375C15.9624 21.8438 15.9862 21.8339 16.0038 21.8163C16.0214 21.7987 16.0312 21.7749 16.0312 21.75V16.5C16.0312 16.127 16.1794 15.7694 16.4431 15.5056C16.7069 15.2419 17.0645 15.0938 17.4375 15.0938C17.8105 15.0938 18.1681 15.2419 18.4319 15.5056C18.6956 15.7694 18.8438 16.127 18.8438 16.5V21.75C18.8438 21.8018 18.8857 21.8438 18.9375 21.8438H21.9375C21.9624 21.8438 21.9862 21.8339 22.0038 21.8163C22.0214 21.7987 22.0312 21.7749 22.0312 21.75V15.285C22.0312 13.4648 20.4488 12.0413 18.6375 12.2055C18.0771 12.2565 17.5281 12.3952 17.0107 12.6165L16.0312 13.0365V12C16.0312 11.9751 16.0214 11.9513 16.0038 11.9337C15.9862 11.9161 15.9624 11.9062 15.9375 11.9062H12.9375Z" fill="%23E3E3E3"/></svg>') no-repeat center;
      }
    }


  }
}
