# Maps
assets/css/*.map

# Apache
.htaccess
.htpasswd

# WordPress
wp-config.php
wp-content/*
wp-content/themes/astra
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/plugins/all-in-one-wp-migration/storage/*.log
*.sql

# Node.js
node_modules/

.idea/

#SiteMap
robots.txt
