@use "../../global" as *;

.page404 {
	&-section {
		padding: rem(140) 0;
	}

	&-wrapper {
		max-width: rem(904);
		border-radius: rem(20);
		margin: 0 auto;
		background-color: $bg-color-grey;
		position: relative;
		height: rem(471);
		@media (max-width: $mobile) {
			max-width: initial;
			height: rem(371);
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		bottom: 71px;
	}

	&__image {
		img {
			flex-shrink: 0;
			width: rem(480);
			height: rem(330);
			@media (max-width: $mobile) {
				width: rem(380);
				height: rem(230);
			}
		}
	}

	&__title {
		margin-top: rem(20);
		font: 500 rem(24)/140% $main-font-family;
		color: $text-color-light;
	}

	&__subtitle {
		margin-top: rem(20);
		line-height: 140%;
	}

	&__button {
		margin-top: rem(30);
		font-size: 1rem;
	}
}

.theme-light {
	.page404 {

		&-wrapper {
			background-color: $bg-color-white-grey;
		}


		&__title {
			color: $bg-color-grey;
		}
	}
}
