@use "../../global" as *;
.team-awards-section {
   .section-head {
      @include adaptive-value("margin-bottom", 60, 30, 0, 768, 375);

      @media (min-width: $mobile) {
         @include adaptive-value("margin-bottom", 80, 60, 0, 1440, 768);
      }
   }
}
.team-awards {
   margin: 0 rem(-10);
   padding: 0 rem(20);
   overflow: hidden;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;

   @media (max-width: $mobile) {
      padding-right: rem(10);
      display: flex;
   }

   &::-webkit-scrollbar {
      opacity: 0;
      display: none;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }

   &::-webkit-scrollbar-thumb {
      background: transparent;
   }

   @media (min-width: $mobile) {
      margin: 0;
      padding: 0;
   }

   &__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: rem(-5);
   }

   &__col {
      padding: rem(5);
   }
}
.team-award {
   min-width: rem(236);
   &__wrap {
      @include adaptive-value("height", 200, 120, 0, 1440, 768);
      background-color: $bg-color-grey;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(10.714);

      @media (min-width: $desktop) {
         border-radius: rem(20);
      }
   }

   &__img {
      img {
         @include adaptive-value("height", 70, 38, 0, 1440, 768);
      }
   }
}
