@use "../global" as *;

.popup {
	&__btn {
		position: absolute;
		right: rem(20);
		top: rem(20);
	}

	&__close {
		@include adaptive-value("width", 50, 30, 0, 869, 375);
		@include adaptive-value("height", 50, 30, 0, 869, 375);
		background-color: $text-color-light;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: relative;
		transition: all 0.3s;

		&::before,
		&::after {
			content: "";
			@include adaptive-value("width", 21, 15, 0, 869, 375);
			position: absolute;
			height: rem(2);
			background-color: $bg-color-grey;
		}

		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}

		@media (min-width: $tablet) {
			&:hover {
				background-color: $bg-accent;
			}
		}

	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		font-size: rem(12);
		color: $text-color-grey;
		@include adaptive-value("padding-top", 20, 0, 0, 1440, 375);
		@include adaptive-value("margin-bottom", 21, 20, 0, 1440, 375);
		gap: 3px;
	}

	&__link {
		color: $text-color-grey;

		&:hover {
			color: $bg-accent;
		}
	}

	&__link-text {
		color: $text-color-light;
	}

	&__head {
		@include adaptive-value("margin-left", -40, -10, 0, 1440, 375);
		@include adaptive-value("margin-right", -40, -10, 0, 1440, 375);
		@include adaptive-value("padding-left", 40, 10, 0, 1440, 375);
		@include adaptive-value("padding-right", 40, 10, 0, 1440, 375);
		@include adaptive-value("padding-bottom", 40, 20, 0, 1440, 375);
		@include adaptive-value("margin-bottom", 40, 20, 1440, 375);
		border-bottom: rem(1) solid #222222;
	}

	&__title {
		@include adaptive-value("font-size", 48, 24, 0, 869, 375);
		color: $text-color-light;
		max-width: 76.17237%;
		padding-left: rem(10);
		line-height: 130%;

		@media (min-width: $mobile-small) {
			padding-left: rem(0);
		}
	}

	&__bottom {
		@include adaptive-value("margin-top", 20, 10, 0, 869, 375);
		background-color: $bg-color-grey-light;
		color: $white-color;
		display: flex;
		justify-content: center;
		border-radius: rem(20);
		width: 100%;
		max-width: rem(789);
		padding: rem(31);
		font-size: rem(18);
		transition: all 0.3s;
		margin-bottom: rem(10);

		&:hover {
			background-color: $bg-accent;
			color: $white-color;
		}
	}

	//Change default section void block.
	.section-indent {
		height: rem(60);
	}
}

.popup-section-title {
	margin-bottom: rem(30);
	@include adaptive-value("padding-left", 0, 10, 0, 1440, 375);
}

.popup-intro {
	@include adaptive-value("margin-top", 40, 20, 0, 869, 375);

	&__img {
		@include adaptive-value("margin-bottom", 40, 30, 0, 869, 375);
		margin-left: rem(-10);
		margin-right: rem(-10);
		width: calc(100% + 20px);
		height: rem(400);


		img {
			border-radius: rem(20);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (min-width: $mobile-small) {
			width: 100%;
			margin-left: rem(0);
			margin-right: rem(0);
			padding: 0;
		}
	}

	&__body {
		padding: 0 rem(10);

		@media (min-width: $mobile-small) {
			padding: 0;
		}
	}

	&__text {
		margin-bottom: rem(30);

		& > * {
			color: $text-color-grey;
		}
	}

	&__btn {
		max-width: rem(213);

		a {
			min-height: 58px;
		}
	}
}

.popup-services {
	&__row {
		margin: rem(-5);
	}

	&__col {
		padding: rem(5);
	}
}

.popup-service {
	&__wrap {
		@include adaptive-value("padding", 30, 20, 0, 869, 375);
		background-color: $bg-color-grey;
		border-radius: rem(20);
	}

	&__head {
		@include adaptive-value("gap", 30, 20, 0, 869, 375);
		display: flex;
		align-items: center;
		margin-bottom: rem(20);

		@media (min-width: rem(869)) {
			align-items: start;
			margin-bottom: rem(0);
		}
	}

	&__icon {
		@include adaptive-value("max-width", 70, 55, 0, 869, 375);
		width: 100%;

		img {
			@include adaptive-value("border-radius", 12, 9, 0, 869, 375);
			width: 100%;
		}
	}

	&__title {
		& > * {
			@include adaptive-value("font-size", 28, 18, 0, 869, 375);
			color: $text-color-light;
			line-height: 130%;
		}

		@media (min-width: rem(869)) {
			margin-bottom: rem(16);
		}
	}

	&__text {
		& > * {
			color: $text-color-grey;
		}

		@media (min-width: rem(869)) {
			margin-top: rem(-12);
			margin-left: rem(100);
		}
	}
}

.popup-info {
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $bg-color-white-light;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(40) rem(20);
		border-radius: rem(20);
		min-height: rem(313);
	}

	&__title {
		margin-bottom: rem(30);
		max-width: rem(629);
		text-align: center;

		& > * {
			@include adaptive-value("font-size", 28, 24, 0, 1440, 375);
			color: $bg-color-grey;
			line-height: 120%;
		}
	}


	&__sub-title {
		text-align: center;
		margin-bottom: rem(40);
	}
}

.popup-technologie {
	&__row {
		@include adaptive-value("margin", -5.5, -5, 0, 869, 375);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__img {
		@include adaptive-value("margin-bottom", 30, 15, 0, 768, 375);
		@include adaptive-value("max-width", 50, 40, 0, 869, 375);
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}

		&--last {
			max-width: rem(25);
			margin-bottom: rem(0);
		}
	}
}

.popup-options {
	&__row {
		display: grid;
		grid-template-columns: auto;
		margin: rem(-5);

		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__col {
		padding: rem(5);
	}
}

.popup-option {
	height: 100%;

	&__wrap {
		@include adaptive-value("padding", 30, 20, 0, 869, 375);
		background-color: $bg-color-grey;
		display: flex;
		flex-direction: column;
		border-radius: rem(20);
		height: 100%;
	}

	&__icon {
		@include adaptive-value("margin-bottom", 30, 20, 0, 869, 375);
		@include adaptive-value("max-width", 70, 55, 0, 869, 375);
		width: 100%;

		img {
			@include adaptive-value("border-radius", 12, 9, 0, 869, 375);
			width: 100%;
		}
	}

	&__title {
		margin-bottom: rem(20);


		& > * {
			@include adaptive-value("font-size", 24, 18, 0, 869, 375);
			color: $text-color-light;
			line-height: 130%;
		}
	}

	&__item {
		@include adaptive-value("margin-bottom", 30, 20, 0, 869, 375);
		display: flex;
		flex-direction: column;
		gap: rem(15);

		& > * {
			color: $text-color-grey;
			position: relative;
			padding-left: rem(14);
			line-height: 120%;

			&::before {
				content: "";
				background-color: $bg-accent;
				position: absolute;
				top: rem(6);
				left: 0;
				width: rem(6);
				height: rem(6);
				border-radius: 50%;
			}
		}
	}

	&__number {
		display: flex;
		justify-content: end;
		margin-top: auto;

		& > * {
			color: $text-color-grey;
			line-height: 130%;
		}
	}
}

.popup-industrys {
	&__row {
		display: grid;
		grid-template-columns: auto;
		margin: rem(-5);

		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__col {
		padding: rem(5);
	}
}

.popup-industry {
	&__wrap {
		@include adaptive-value("padding", 30, 20, 0, 869, 375);
		background-color: $bg-color-grey;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: rem(20);
		height: 100%;
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			.new-btn {
				&--tertiary {
					background-color: $bg-accent;
					border-color: $bg-accent;


					transform: rotate(45deg);
				}
			}
		}
	}


	&__title {
		max-width: 74.394464%;

		& > * {
			@include adaptive-value("font-size", 24, 18, 0, 869, 375);
			color: $text-color-light;
			line-height: 130%;
		}
	}

	&__btn {
		a {
			&::after {
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none'%3E%3Cpath d='M9.02082 7.48528L9.02082 8.48528L11.0208 8.48528V7.48528H9.02082ZM10.0208 1.82842H11.0208V0.828422L10.0208 0.828422L10.0208 1.82842ZM4.36396 0.828422L3.36396 0.828422L3.36396 2.82842L4.36396 2.82842L4.36396 0.828422ZM11.0208 7.48528V1.82842L9.02082 1.82842L9.02082 7.48528H11.0208ZM10.0208 0.828422L4.36396 0.828422L4.36396 2.82842L10.0208 2.82842L10.0208 0.828422ZM9.31371 1.12132L0.12132 10.3137L1.53553 11.7279L10.7279 2.53553L9.31371 1.12132Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}

.popup-discovering {
	&__row {
		display: grid;
		grid-template-columns: auto;
		margin: rem(-5);

		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__col {
		padding: rem(5);
	}
}

.popup-discover {
	height: 100%;

	&__wrap {
		@include adaptive-value("padding", 30, 20, 0, 869, 375);
		background-color: $bg-color-grey;
		display: flex;
		flex-direction: column;
		border-radius: rem(20);
		height: 100%;

		&:hover {
			.new-btn {
				&--tertiary {
					background-color: $bg-accent;
					border-color: $bg-accent;

					svg {
						transform: rotate(45deg);
					}
				}
			}
		}
	}

	&__title {
		@include adaptive-value("margin-bottom", 30, 20, 0, 869, 375);

		& > * {
			@include adaptive-value("font-size", 28, 24, 0, 869, 375);
			color: $text-color-light;
			line-height: 130%;
		}
	}

	&__text {
		@include adaptive-value("margin-bottom", 30, 20, 0, 869, 375);

		& > * {
			color: $text-color-grey;
		}
	}

	&__btn {
		display: flex;
		justify-content: end;
		margin-top: auto;
	}
}

.theme-light {
	.popup-industry {
		&__btn {
			a {
				&::after {
					content: "";
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none'%3E%3Cpath d='M9.02082 7.48528L9.02082 8.48528L11.0208 8.48528V7.48528H9.02082ZM10.0208 1.82842H11.0208V0.828422L10.0208 0.828422L10.0208 1.82842ZM4.36396 0.828422L3.36396 0.828422L3.36396 2.82842L4.36396 2.82842L4.36396 0.828422ZM11.0208 7.48528V1.82842L9.02082 1.82842L9.02082 7.48528H11.0208ZM10.0208 0.828422L4.36396 0.828422L4.36396 2.82842L10.0208 2.82842L10.0208 0.828422ZM9.31371 1.12132L0.12132 10.3137L1.53553 11.7279L10.7279 2.53553L9.31371 1.12132Z' fill='%23333333'/%3E%3C/svg%3E");
				}

			}
		}
	}
}
