@use "../global" as *;


.thank-you {
	@include popup-state();

	&__content {
		min-height: rem(473);
		display: flex;
		flex-direction: column;
		justify-content: end;
		position: relative;
		overflow: visible;
		align-items: center;
		width: 100%;
		max-width: 789px;
		background-color: $bg-color-grey-light;
		@include adaptive-value("padding-top", 0, 20, 0, 869, 375);
		@include adaptive-value("padding-bottom", 40, 10, 0, 869, 375);
		@include adaptive-value("padding-left", 40, 10, 0, 869, 375);
		@include adaptive-value("padding-right", 40, 10, 0, 869, 375);
		@include adaptive-value("border-radius", 25, 12, 0, 869, 375);

	}

	&__close {
		position: absolute;
		right: 30px;
		top: 30px;
		z-index: 2;
	}


	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		left: 0;
		top: -30%;
		pointer-events: visible;
	}

	&__text {
		text-align: center;
		max-width: rem(553);

		h3 {
			margin-bottom: rem(20);
			font-weight: 500;
			font-size: rem(24);
		}

		p {
			margin-bottom: rem(30);
		}
	}


	&__button {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: inline-block;
		}
	}

	&__overlay-bg {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}


}


.theme-light {
	.thank-you {
		&__content {
			background-color: $bg-color-white;
		}
	}
}
