@use "../global" as *;

.new-btn {
	font-family: $fontFamily;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: rem(16);
	line-height: 1;
	transition: all 0.3s;
	flex: none;

	&--primary {
		padding: rem(19) rem(32);
		color: $text-color-light;
		border-radius: rem(12);
		background-color: $bg-accent;

		&:hover {
			color: $bg-color-grey;
			background-color: $text-color-light;
		}
	}

	&--secondary {
		padding: rem(19) rem(32);
		color: $text-color-light;
		border-radius: rem(12);
		background-color: $bg-accent;

		&:hover {
			color: $text-color-light;
			background-color: $bg-color-grey;
		}
	}

	&--tertiary {
		width: rem(50);
		height: rem(50);
		border-radius: 50%;
		border: rem(2) solid $bg-color-grey-light;
		background-color: transparent;

		&--small {
			width: rem(40);
			height: rem(40);
		}

		svg {
			transition: all 0.3s;
		}

		&:hover {
			background-color: $bg-accent;
			border-color: $bg-accent;

			svg {
				transform: rotate(45deg);
			}
		}
	}

	&--fourth {
		color: $text-color-light;
		font-size: rem(16);
		border: 1px solid $bg-accent;
		border-radius: rem(12);
		padding: rem(19) rem(32);

		@media (min-width: $mobile) {
			&:hover {
				color: $bg-accent;
				background-color: $text-color-light;
			}
		}

	}
}
