@use "../global" as *;

.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $bg-color-grey;
	z-index: 99;
	border-top: 2px solid $bg-accent;
	transition: all 0.5s ease-in-out;
	transform: translateY(100%);
	opacity: 0;
	visibility: hidden;

	&.active {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;

	}


	&__container {
		padding: rem(25) rem(32);
		@media (min-width: $mobile) {
			padding: rem(25) rem(40);
		}
	}


	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		gap: rem(20);


		@media (min-width: $mobile) {
			flex-direction: row;
		}
	}

	&__text {
		text-align: center;

		p {
			color: $text-color-light;
			font-size: rem(16);
		}

		a {
			font-weight: 500;
			text-decoration: underline;
			color: $text-color-light;
		}
	}


	&__buttons {
		display: flex;
		align-items: center;
		gap: rem(10);

		button {
			width: rem(150);
		}

	}


}

