@use "../global" as *;
@use "sass:math";

.popup-wrapper {
	@include adaptive-value("padding-top", 40, 10, 0, 869, 375);
	@include adaptive-value("padding-bottom", 20, 10, 0, 869, 375);
	@include adaptive-value("padding-left", 40, 5, 0, 869, 375);
	@include adaptive-value("padding-right", 40, 5, 0, 869, 375);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	z-index: 150;
	perspective: 300px;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

.popup {
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: end;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
	}

	&__content {
		@include adaptive-value("padding-top", 0, 20, 0, 869, 375);
		@include adaptive-value("padding-bottom", 40, 10, 0, 869, 375);
		@include adaptive-value("padding-left", 40, 10, 0, 869, 375);
		@include adaptive-value("padding-right", 40, 10, 0, 869, 375);
		@include adaptive-value("border-radius", 25, 12, 0, 869, 375);
		background-color: $bg-color-grey-light;
		width: 100%;
		max-width: 789px;
		position: relative;
		animation-name: popup-move;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-play-state: running;
		overflow-x: hidden;

		h2, h3, h4 {
			margin-bottom: rem(20);
		}

		ul {
			padding-left: 1rem;
			display: flex;
			flex-direction: column;
			gap: rem(12);
			margin: rem(30) 0;
		}

		li {
			color: $text-color-light;
			list-style: disc;
		}


	}
}


.popup-new {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.85);
}

.popup-new-content {
	position: absolute;
	right: 0;
	top: 0;
	background: transparent;
	padding: 20px;

	header,
	footer {
		display: none;
	}
}

.close-popup-new {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.theme-light {
	.popup {
		&__content {
			ul {
				li {
					color: $text-color-grey;
				}
			}
		}
	}
}
