@use "../global" as *;

.swiper {
	overflow: hidden;
}

.swiper-initialized {
	touch-action: pan-y;
}

.swiper-wrapper {
	box-sizing: content-box;
	display: flex;
	height: 100%;
	position: relative;
	width: 100%;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

.slider-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	&__btn {
		width: rem(52);
		height: rem(52);
		@media (max-width: $mobile-extra-small) {
			width: rem(32);
			height: rem(32);
		}
		flex-shrink: 0;
		border-radius: 50%;
		border: 2px solid $bg-color-grey;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease;

		path {
			fill: $white-color;
		}

		&:hover {
			border: 2px solid $bg-accent;
			background-color: $bg-accent;
		}

		&.disabled,
		&.swiper-button-disabled {
			pointer-events: none;
			user-select: none;
			cursor: default;

			path {
				fill: $bg-color-grey;
			}
		}
	}

	&__pagination {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 rem(20);
		@media (max-width: $mobile-extra-small) {
			margin: 0 rem(10);
		}
	}

	&__item,
	.swiper-pagination-bullet {
		color: $text-color-light;
		font-weight: 500;
		font-size: rem(18);
		line-height: 100%;
		opacity: 1;
		padding: rem(10);
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&.active {
			color: $bg-accent;
		}
	}

	.swiper-pagination-bullet-active {
		color: $bg-accent;
	}

	.swiper-pagination-fraction {
		display: flex;
		align-items: center;
		gap: rem(10);
		font-size: rem(16);
		color: $text-color-light;
		font-weight: 500;
		cursor: pointer;
	}

	.swiper-pagination-total {
		&:hover {
			color: $bg-accent;
		}
	}

	.swiper-pagination-fraction-begin {
		color: $bg-accent;
	}

	.swiper-pagination-fraction-end {
		color: $bg-accent;
	}

}
