/* Error: 2 arguments required, but only 1 was passed.
 *   ,
 * 9 |       gap: rem(10);
 *   |            ^^^^^^^
 *   '
 *   src\sass\blocks\clients-section.scss 9:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a   \2577 \a 9 \2502        gap: rem(10);\d\a   \2502             ^^^^^^^\a   \2575 \a   src\\sass\\blocks\\clients-section.scss 9:12  root stylesheet";
}
